<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">BRAND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= page === 'index' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= page === 'signup' ? 'active' : '' %>">
          <a class="nav-link" href="">Sign Up</a>
        </li>
        <li class="nav-item <%= page === 'resetpassword' ? 'active' : '' %>">
            <a class="nav-link" href="">Reset Password</a>
          </li>
        <% if(locals.user) {%>
          <li class="nav-item <%= page === 'myaccount' ? 'active' : '' %>">
            <a class="nav-link" href="/myaccount">My Account</a>
          </li>
        <%};%>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
  
        <% if(locals.user) {%>
  
          <li class="nav-item">
            <a class="btn btn-danger nav-link" href=""><i class="fa fa-lock" aria-hidden="true"></i>
              Logout <%=user.username%></a>
          </li>
        <%} else {%>
            <li class="nav-item">
  
              <a class="btn btn-success nav-link" href=""><i class="fa fa-lock" aria-hidden="true"></i>
                Login</a>
            </li>
  
        <%}%>
        <% if(locals.admin) {%>
              <li class="nav-item <%= page === 'dashboard' ? 'active' : '' %>">
                <a class="nav-link" href="">Dashboard</a>
              </li>
        <%};%>
      </ul>
    </div>
  </nav>